<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dmall.mapper.AddressMapper">
    <select id="findAddressByRegionId" parameterType="Integer" resultType="Address">
        select * from address where region_id = #{xxx} and region_id!=area_id
    </select>

    <select id="firstAddress" resultType="Address">
        select * from address where region_id=area_id
    </select>
    <select id="getUserAddress" resultType="UserAddress">
        select * from user_address where user_id=#{id}
    </select>

    <insert id="addUserAddress" >
        insert user_address(user_id,area_id,detail_address) values (#{userId},#{areaId},#{detailAddress})
    </insert>

    <update id="updateAddress">
        update user_address set detail_address=#{detailAddress} where user_id=#{userId} and area_id=#{areaId}
    </update>

    <delete id="deleteAddress">
        delete from user_address where user_id=#{userId} and area_id=#{areaId};
    </delete>
</mapper>