<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dmall.mapper.ProductMapper">
    <select id="findProducts" resultType="com.example.dmall.bean.Product">
        select *
        from product
    </select>
    <!--    按照实践创建的顺序排序，选中0-8条数据返回-->
    <select id="findProductsByCategory" resultType="Product">
        select product.* from product INNER JOIN third_level_category INNER JOIN second_level_category INNER  join first_level_category
                                                 on product.category_id=third_level_category.id and third_level_category.parent_id=second_level_category.id and second_level_category.parent_id=first_level_category.id
        where first_level_category.id=#{category_id} order by create_date desc limit 0,8
    </select>
    <select id="findProductSmallImage" resultType="ProductImage">
        select * from product_image where product_id=#{productId}
    </select>

    <select id="findAllByFirstLevelCategory" resultType="Product">
        select product.* from product INNER JOIN third_level_category INNER JOIN second_level_category INNER  join first_level_category
                                        on product.category_id=third_level_category.id and third_level_category.parent_id=second_level_category.id and second_level_category.parent_id=first_level_category.id
        where first_level_category.id=#{category_id} order by create_date
    </select>

    <select id="findAllByThirdLevelCategory" resultType="Product">
        select product.* from product INNER JOIN third_level_category
                                                on product.category_id=third_level_category.id
        where third_level_category.id=#{category_id} order by create_date
    </select>

    <select id="getProductById" resultType="Product">
        select * from Product where id=#{id}
    </select>

    <select id="getReviewCount" resultType="Integer">
        select count(*) from review where product_id=#{id}
    </select>

    <select id="getBuyCount" resultType="Integer">
        select count(*) from product_order_item where order_id !=null and product_id=#{id}
    </select>

    <select id="getReviews" resultType="Integer">
        select * from review where product_id=#{id}
    </select>
    
    <select id="getPropertyValue" resultType="PropertyValue">
        select * from property_value where product_id =#{id}
    </select>

    <select id="getProperty" resultType="Property">
        select * from property
        where id=#{id}
    </select>

    <select id="getProductByParam" resultType="Product">
        select * from product where locate(#{param},name)>0
    </select>


</mapper>